* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #141414;
  color: white;
  font-weight: 600;
  width: 100%;
  height: calc(100vh - 75px);
}

main {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: calc(100vh - 75px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  /* text-align: left; */
  /* font-weight: 300; */
  font-size: 2em;
}

nav {
  border-bottom: 1px #3e3e3e solid;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.landing__content {
  -ms-flex: 1 auto;
  flex: 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2vmin;
  height: 100%;
}

.logo {
  font-size: 4vmin;
  text-align: left;
  margin-right: auto;
  font-weight: 700;
  justify-content: start;
  flex: 3 1 0;
  cursor: pointer;
}

.links {
  flex: 3 1 0;
  display: flex;
  justify-content: flex-end;
}

.links a {
  margin-right: 24px;
  position: relative;
  border: 1px solid white;
  padding: 10px 12px;
  border-radius: 4px;
  height: 40px;
  vertical-align: middle;
}

p {
  font-size: 2em;
}

.disabled-link {
  text-decoration: none;
  color: gray;
  pointer-events: none;
}

.dashboard {
  height: auto;
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.msgbox__shell {
  background: #5555ff;
  padding: 40px 24px;
  border-radius: 4px;
  margin: 15px 0;
  width: 90%;
  color: white;
  display: flex;
  justify-content: space-around;
}

.copyBox {
  display: flex;
  flex-direction: column;
}

.project,
.proposal__link {
  width: 90%;
  color: white;
  border-radius: 4px;
  background-color: #202020;
  margin-bottom: 15px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project a {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.project__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__note {
  background-color: #5555ff;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.project__change {
  /* border: 1px solid #464646; */
  font-weight: 300;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.proposal__link {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
}

.DayPicker {
  margin-bottom: 24px;
}

.DayPicker-wrapper {
  border: 1px solid #464646;
  border-radius: 4px;
}

.DayPicker-Day--disabled {
  color: #424242;
}

.typelist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.typeoption {
  flex: 1 0 40%;
  padding: 2px;
  height: 100px;
  background: #091e42;
  color: white;
  border-radius: 4px;
  margin-left: 5px;
  margin-bottom: 5px;
}

iframe {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.avatar {
  font-size: 18px;
  background: purple;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.delivercost {
  display: block;
  font-size: 48px;
  color: #85bb65;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__notes {
  width: 90%;
  margin-bottom: 24px;
}

.project__changelog {
  width: 90%;
}

.project_deliverables {
  width: 100%;
}

.project_deliverables ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  font-family: "Rubik", sans-serif;
  resize: none;
  overflow: hidden;
  background: #202020;
  color: hsla(0, 0%, 100%, 0.9);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  text-align: center;
  width: 100%;
}

#project__name {
  height: 72px;
  font-size: 42px;
  font-weight: 800;
  color: white;
}

textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  height: 80px;
  resize: none;
  overflow: hidden;
  background: #202020;
  color: hsla(0, 0%, 100%, 0.9);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  width: 100%;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #5555ff;
}

button,
.button {
  background: none;
  background-clip: padding-box;
  border: 1px solid white;
  font-family: "Circular";
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  outline: 0;
  padding: 0 12px;
  border-radius: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  /* transition: all .2s; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.deliver,
.types {
  /* height: 500px; */
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 0;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 24px;
}

.types {
  flex-wrap: nowrap;
}

.delblock,
.typeblock {
  height: 130px;
  width: calc(33% - 15px);
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 4px;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  position: relative;
  margin: 8px;
  transition: all 275ms;
}

.typeblock {
  width: calc(50% - 15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delblock,
.typeblock {
  background: #202020;
}

.delblock__selected,
.typeblock__selected {
  background: #5555ff;
}

#login {
  padding: 20px 15px;
  border: 1px white solid;
  text-align: left;
}

#login input[type="text"],
input[type="password"],
input[type="email"] {
  margin: 20px 0px;
}

.projecttime {
  margin-bottom: 24px;
}

.project__approval {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.project__content {
  flex-grow: 1;
  text-align: left;
}

.intercom-lightweight-app-launcher-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  transition: transform 100ms linear, opacity 80ms linear;
}

@media all and (max-width: 600px) {
  .msgbox__shell {
    flex-direction: column;
    padding: 20px 12px;
  }
  .copyBox {
    margin-bottom: 24px;
  }
  .delblock {
    width: calc(50% - 16px);
  }
  .types {
    flex-wrap: wrap !important;
  }
  .typeblock {
    width: calc(50% - 16px);
  }
}
